/* DÉFINITION DE VARIABLES CSS 
COMMUNES À TOUT LE SITE */
:root {
  --main-bg-color: #f8f8f8;
  --dark-color: #1d1d1d;
  --font-fam-navbar: "Exo", sans-serif;
  --light-bg-color: #ffffff;
  --font-fam-content: "Poppins", sans-serif;
}

/* RESET AVEC SELECTEUR UNIVERSEL */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* RESET DU BODY + HTML */
body,
html {
  margin: 0;
  padding: 0;
  background-color: rgb(155, 155, 155);
}

/* RESET DES LISTES */
ul,
ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* RESET DES LIENS */
a {
  text-decoration: none;
}

/* =====================
    CONTENEUR DU SITE
  ==================== */

main {
  max-width: 1100px;
  display: flex;
}

/* PARTIE MQ DESKTOP À PARTIR DE 992px */
@media only screen and (min-width: 992px) {
  /*============================
    ++++++  HEADER  ++++++
  ============================ */

  .logo {
    width: 120px;
  }

  .title-brand {
    margin-left: 10px;
  }
  .nav {
    max-height: none;
    top: 0;
    position: relative;
    float: right;
  }
  .menu {
    display: flex;
    justify-content: flex-end;
    margin-right: 30px;
  }

  .menu a {
    margin: 5px;
  }

  .menu > li > ul {
    display: none;
  }

  .burger {
    display: none;
  }

  /* ==================== 
    PAGE D'ACCUEIL 
  ==================== */
  .home-container {
    margin: 40px auto;
    width: 90%;
  }

  .presentation > h1 {
    font-size: 1.5em;
    font-family: var(--font-fam-navbar);
    text-align: center;
  }

  /* CONTAINER DES BLOCS PAGE HOME */
  .container {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 80px;
    justify-content: space-around;
  }

  .last-quiz {
    width: 60%;
    margin: 0;
  }

  .last-quiz > h2 {
    margin-top: 0;
  }

  /* PARTIE SLIDER DU HOME */
  .slider > img {
    width: 100%;
    display: none;
    margin: auto;
  }

  img.active {
    display: block;
    animation: fade 0.8s;
  }

  @keyframes fade {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .btn-container {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }

  /* BOUTON AVANT / APRES SLIDER */
  .btn-nav {
    font-size: 30px;
    margin: 0 15px;
    cursor: pointer;
  }

  /* ASIDE CONTAINER */
  .categories {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 20%;
    background-color: var(--light-bg-color);
    padding: 0;
    margin: 0;
    border: none;
  }

  .categories > h2 {
    font-size: 0.9em;
  }

  .categories ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .categories > ul > li {
    font-family: var(--font-fam-navbar);
    margin-top: 30px;
    padding: 0px;
    width: 150px;
  }

  .categories > ul > li > a {
    background-color: lightgray;
    font-family: var(--font-fam-navbar);
    border-radius: 5px;
    margin: 0;
    padding: 0;
    height: 30px;
    width: 100%;
  }

  .categories > ul > li > a:hover {
    background-color: #fb7d00;
    color: var(--light-bg-color);
  }

  /* ==================== 
    ZONE POUR START LE QUIZ 
  ==================== */
  .quiz-preview {
    margin: 0 auto;
    width: 40%;
  }

  .start-area {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    background-color: var(--light-bg-color);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-top: 30px;
  }

  .cover {
    width: 300px;
  }

  .start-area > h1 {
    font-family: var(--font-fam-content);
    font-size: 2em;
  }

  .play {
    margin: 20px;
    width: 130px;
    border-radius: 5px;
    border: 1px solid #1c49ab;
    padding: 10px 25px;
    color: black;
    cursor: pointer;
    font-size: 15px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-family: var(--font-fam-navbar);
  }
}

/*============================
++++++  PARTIE QUIZ Q/R  ++++++
  ============================ */
.quiz-container {
  width: 70%;
  display: flex;
  flex-direction: column;
  margin: 20px auto;
  border-radius: 15px;
}
.global {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
/* ZONE POUR LA QUESTION ET LES RÉPONSES POSSIBLES */
.card-question {
  padding: 5px;
  width: 70%;
}

/* TITRE DE LA QUESTION POSÉE */
.card-question > .title-question {
  text-align: center;
  font-size: 1.2em;
  padding: 2px;
  font-family: var(--font-fam-navbar);
}

/* BOUTON POUR VÉRIFIER LA RÉPONSE CHOISIE */
.submit-answer {
  border-radius: 5px;
  border: 2px solid #1c49ab;
  padding: 10px 24px;
  color: black;
  cursor: pointer;
  font-size: 12px;
  margin-bottom: 20px;
}

.next:hover {
  background-color: transparent;
}

/* ZONE D'AFFICHAGE DE L'IMAGE */
.card-img {
  margin: auto 20px;
}

/* IMAGE EN ELLE-MÊME */
.thumbnail {
  border-radius: 5px;
  width: 300px;
}

.choices > li {
  background-color: #e8e8e8;
  padding: 10px;
  margin: 20px;
  border-radius: 5px;
  display: flex;
}
.choices > li:hover {
  background-color: rgb(212, 212, 212);
}

/*============================
++++++  AJOUT D'UN QUIZ ++++++
  ============================ */
.add-quiz {
  width: 80%;
  margin: 20px auto;
}

.add-quiz > h1 {
  text-align: center;
  font-family: var(--font-fam-navbar);
}

.add-quiz > form {
  width: 60%;
  margin: 50px auto;
  background-color: var(--light-bg-color);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 3px;
}

form input {
  display: flex;
  width: 100%;
  border-radius: 5px;
  border: 1px solid green;
  outline: none;
}

form label {
  font-family: var(--font-fam-content);
}

.question-number,
.question-title,
.answers,
.question-image,
.answer-one,
.answer-two,
.answer-three,
.btn-add,
.question-category,
.question_id {
  padding: 10px;
}

.btn-add {
  border-radius: 5px;
  border: 2px solid #1c49ab;
  padding: 10px 24px;
  color: black;
  cursor: pointer;
  font-size: 12px;
  margin: 30px auto;
  display: flex;
}

#file {
  border: none;
}
