/* ================================
    SECTION CONTENEUR DES QUESTIONS
  ================================ */

.quiz-container {
  background-color: var(--light-bg-color);
  width: 70%;
  display: flex;
  flex-direction: column;
  margin: 20px auto;
  border-radius: 15px;
}

/* RÉCUPÈRE LE N° DE LA QUESTION / TOTAL */
.current-question {
  text-align: center;
  background-color: grey;
  padding: 10px;
  color: var(--light-bg-color);
  border-radius: 15px 15px 0 0;
}

/* CONTAINEUR QUESTION/RÉPONSES/IMAGE */
.global {
  display: flex;
  justify-content: space-between;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/* ZONE POUR LA QUESTION ET LES RÉPONSES POSSIBLES */
.card-question {
  padding: 5px;
  width: 70%;
}

/* TITRE DE LA QUESTION POSÉE */
.card-question > .title-question {
  text-align: center;
  font-size: 20px;
  padding: 2px;
  font-family: var(--font-fam-navbar);
}

/* BOUTON POUR VÉRIFIER LA RÉPONSE CHOISIE */
.submit-answer {
  display: block;
  margin-left: 50%;
  border-radius: 5px;
  border: 2px solid #1c49ab;
  padding: 10px 24px;
  color: black;
  cursor: pointer;
  font-size: 12px;
  margin-bottom: 20px;
}

.next-question {
  display: flex;
}

.next {
  display: flex;
  margin: 10px 20px;
}

.next:hover {
  background-color: transparent;
}

/* ZONE D'AFFICHAGE DE L'IMAGE */
.card-img {
  margin: auto 20px;
}

/* IMAGE EN ELLE-MÊME */
.thumbnail {
  border-radius: 5px;
  width: 250px;
}

.choices > li {
  background-color: #e8e8e8;
  padding: 10px;
  margin: 20px;
  border-radius: 5px;
  display: flex;
}
.choices > li:hover {
  background-color: rgb(212, 212, 212);
}
